/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap'); */
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* making footer on the bottom */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header part */
.header{
    display: flex;
    width: 100%;
    background-color: darkblue;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.menu{
    cursor: pointer;
}
.profile{
    list-style-type: none;
    display: flex;
    font-weight: 500;
}
.logo{
    font-weight: 900;
    font-size: 25px;
    padding-left: 10px;
}
.profile li{
    padding: 10px;
}

/* main part */
.main{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.products{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    margin: 15px;
    padding-bottom: 20px;
    width: 300px;
    border-bottom: 1px solid rgb(214, 214, 214);
    /* margin: 10px; */
}
.product img{
    width: 300px;
    height: 300px;
}
.product li{
    list-style-type: none;
    margin-top: 10px;
}
.product-name{
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}
.product-brand{
    font-weight: lighter;
}
.product-price{
    font-weight: 600;
}

/* footer part */
.footer{
    display: flex;
    width: 100%;
    height: 30px;
    background-color: darkblue;
    color: white;
    align-items: center;
    justify-content: center;
    margin-top: auto;                       /* aligns on the bottom */

}

/* sidebar */
.sidebar{
    position: fixed;
    transition: all .6s;
    transform: translateX(-270px);
    width: 250px;
    height: 100vh;
    background-color: rgb(225, 225, 225);
    padding-left: 20px;
}
.sidebar li{
    list-style: none;
    margin-top: 10px;
}
.sidebar li a{
    text-decoration: none;
}
.sidebar.open{
    transform: translateX(0);
}
.menu-button{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 20px;
    padding-top: 0px;
    position: absolute;
    top: 3px;
    right: 5px;
    background-color: rgb(255, 255, 255);
    border-color: transparent;

}